*{
    padding: 10;
    margin: 10;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

.Shuai {
    height: 100vh;
    width: 100%;
    background-image: url(image/Edward.jpeg);
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo {
    color: Black;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span {
    color: red;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 45px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: Red;
    transition: .4s;
    font-size: large;
}

.button {
    background-color: red;
    font-weight: bold;
    color:white;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 10px 25px;
    border-radius: 20px;
    transition: transform .4s;
}

.button:hover {
    transform: scale(1.2);
}

.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1 {
    color: Black;
    font-size: 45px;
    margin: 20px 0px 20px;
}
h3 {
    color: Black;
    font-size: 25px;
    margin-bottom: 40px;
}
h4 {
    color: blue;
    font-size: 20px;
    letter-spacing: 1.5px;
}

.mynews form {
    width: 380px;
    max-width: 100%;
    position: relative;
}
.mynews form input:first-child {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    border: 2px solid whitesmoke;
    padding: 14px 130px 14px 15px;
    border-radius: 20px;
}
.mynews form input:last-child {
    background-color: Red;
    color: whitesmoke;
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}

.aboutme {
    background-color: black;
    width: 100%;    
    padding: 50px 0px;
}
.aboutme img {
    width: 300px;
}
.aboutme-text {
    width: 500px;
}
.aboutme-main {
    width: 1100px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.aboutme h2 {
    color: white;
    font-size: 60px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.aboutme h5 {
    color: white;
    font-size: 30px;
    letter-spacing: 1.5px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.aboutme p {
    color: white;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 40px;
}

.skills {
    background-color:  #101011;
    width: 100%;    
    padding: 50px 0px;
}

.skills-title h2 {
    color: white;
    font-size: 60px;
    width: 1000px;
    margin: 30px auto;
    text-align: center;
}
.skills-text {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}
.card {
    background-color:antiquewhite;
    height: 300px;
    width: 400px;
    padding: 20px 30px;
    border-radius: 20px;
    margin: 20px;
    position: relative;
    text-align: center;
}
.card i {
    color: red;
    font-size: 40px;
    display:block;
    text-align: center;
    margin: 20px auto;
}